@media screen and (max-width: 75rem) {
	#footerImage{
		display: none;
	}
	#centerFooter{
		padding-top: .5rem;
		padding-bottom: .5rem;
	}
}



body, html{
	animation: fadein 2s;
	padding: 0; margin: 0;
	background-position-x: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	max-width: 100%;
    overflow-x: hidden;

	display: flex;
	flex-direction: column;
	
	min-height: 100%;

}




/* Naše profi animace */




@keyframes fadein {
	from {
		opacity: 0;

	}
	to{
		opacity: 1;
	}
}
@keyframes rotejt {
	from {
		transform: rotate(-10deg) scale(0.5);
		opacity: 0;

	}
	to{
		transform: rotate(-0deg) scale(1);
		opacity: 100%;
	
	}
}
@keyframes slide {
	0% {
	  transform: translateY(100%);
	}
	100% {
	  transform: translateY(0%);
	}
}





/* Definování základních charakteristik stránky (asi) */





h1{
	font-family: 'Stick', sans-serif;
	/*font-family: 'Yusei Magic', sans-serif;*/
	text-align: center;
	font-size: 3.5rem;
	margin-left: 1rem;
	float: left;
	margin-top: 3rem;
}

button{
	text-align: center;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
	/*font-family: 'Yusei Magic', sans-serif;*/
}





/* Banner */





#icona{
	height: 9rem;
	width: auto;
	float: left;
	margin-top: 1.2rem;
	margin-right: -1.5rem;
}

.logo{
	transition-duration: 1s;
	background-color: transparent;
	border:none;
	outline: none;
}

.logo:hover{
	outline: none;
	transform: scale(1.10);	
}

#logoPozice{
	margin-bottom: 1.5rem;
	display: flex;
	justify-content: center;
  	flex-wrap: wrap;
}

.banner{
	max-width: 100%;
	background-image: url("../images/fotoHore.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 0.5rem solid #192e44;
	border-top: 0.5rem solid #192e44;
	position: relative;
	margin-bottom: 3.5rem;
	align-content: center;
	transition-duration: 1s;
	margin-top: 1.5rem;
	box-shadow: 0 20px 20px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.banner:hover{
	transform: scale(1.02);
}

		/* Tlačítka */

.menu{
	color: white;
	border: 0px solid black;
	border-radius: 16px;
	background-color: #2c333aa6;
	margin-left: 3.85%;
	margin-right: 3.85%;
	margin-bottom: 1.6rem;
	font-size:2rem;
	padding: 0.1rem 1.75rem;
	width: 18rem;
	transition-duration: 1s;
	outline: none;
	animation: rotejt 1.5s;
}
.menu:hover{
	color: white;
	box-shadow: 0px 7px 19px 3px rgba(0,0,0,0.6);
	transform: scale(1.10);	
	opacity: 90%;
	background-color: #212F3D;
	transition-duration: 1s;
}

/* we're not getting paid for this shit */

.menu .onlineStatus{
	visibility: hidden;
	width: 14rem;
	background-color: #2c333a;
	color: #fff;
	text-align: center;
	border-radius: 16px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 110%;
	left: 50%;
	margin-left: -40%;
	opacity: 0;
	font-size: small;
	transition-duration: 1s;
}
.menu .onlineStatus::after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}
.menu:hover .onlineStatus{
	visibility: visible;
	opacity: 1;
}




/* Něco */




.clearfix{
	clear: both;
	overflow: auto;
}

.center{	
	display: flex;
	justify-content: center;
  	flex-wrap: wrap;
}




/* Discord */




#disDiv{
    display: none;
	margin: auto;
	max-width: 50%;
	min-width: 20rem;
	height: 40rem;
	border: 0px solid #18253b;
	margin-top: 80px;
	animation: slide .9s, fadein .9s;
  }
  #discord{
	opacity: 85%;
	width: 100%;
	height: 100%;
}




/* Informační stránka věci */




#ServerInfo{
    display: none;
	margin: auto;
	text-align: justify;
	max-width: 60%;
	min-width: 20rem;
}
.Odstavce{
    overflow: auto;
    word-wrap: break-word;
    text-align: start;


	word-spacing: normal;
	border:black solid 1px;
	border-radius: 16px;
	background-color: #2c333abb;
	font-size: 1.5rem;
	font-family: 'Poppins', sans-serif;
	color: white;
	padding: 1rem;
	animation: slide .9s, fadein .9s;	
	transition: 1s;

	margin-bottom: 10rem;
}

#uvodniText{
	margin: auto;
	text-align: justify;
	max-width: 60%;
	min-width: 20rem;
}




/* Footer */




#page-container {
	position: relative;
	min-height: 100vh;
}
  
#content-wrap {
	margin-bottom: 15rem;
}
  
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#centerFooter{
	box-shadow: 0px -7px 19px 3px rgba(0,0,0,0.6);
	background-color: #2c333abb;
}


.footerText{
	font-family: 'Poppins', sans-serif;
	color: white;
	
	margin-top: auto;
	margin-bottom: auto;

	display: flex;
}

#footerImage{
	height: 5rem;
	width: auto;
}

#gitIm{
	margin-top: auto;
	margin-bottom: auto;
	height: 1.7rem;
	margin-right: .2rem;
}


.obalovacCZ{
	display: flex;
	width: 20.5rem;
}

#centerID{
	display: flex;
	justify-content: center;
  	flex-wrap: wrap;
}


#linkLogo{
	text-decoration: underline;
	color: white;
}


#odkazyNaGitHub{
	text-decoration: none;
	color: white;

	transition-duration: .4s;
}
#odkazyNaGitHub:hover{
	transform: scale(1.05);
}



/* nadpisy */

.nadpisyOdstavcu{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
	border-radius: 16px;
	box-shadow: 0px 5px 25px 8px #000000;
	color: white;
	animation: fadein 2s;
	margin: 0;
	font-size: 2rem;
	font-family: 'Stick', sans-serif;
	text-align: center;
}